.advantages {
    height: 589px;
    background-color: #f3f3f3;
    position: relative;
    &__wrapper {
        margin-left: 9px;
        padding-top: 112px;
        display: grid;
        grid-template-columns: 556px 556px;
        column-gap: 28px;
        row-gap: 17px;
    }
    &__block {
        display: grid;
        grid-template-columns: 75px 431px;
        position: relative;
        width: 556px;
        min-height: 62px;
        img {
            padding-top: 3px;
            padding-left: 3px;
            object-fit: contain;
        }
        &__text {
            margin-top: -5px;
            min-width: 431px;
            p {
                font-family: Roboto;
                margin-top: -5px;
                line-height: 22px;
                font-size: 14px;
            }
        }
    }
}
