.consultation {
    position: relative;
    height: 399px;
    &__wrapper {
        h2 {
            padding-top: 43px;
            text-align: center;
            font-size: 28px;
            font-family: Roboto;
            font-weight: 400;
        }
        &__border {
            position: absolute;
            z-index: -2;
            margin-top: 58px;
            width: 1140px;
            height: 166px;
            border: 1px solid #c4c4c4;
        }
        &__form {
            margin-top: 66px;
            position: relative;
            width: 1140px;
            height: 166px;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                outline:none;
                font-family: Roboto;
                font-size: 13px;
                width: 270px;
                height: 47px;
                border: 1px solid #c9c9c9;
                border-radius: 25px;
                padding: 18px 28px 19px 28px;
                margin: 0px 2px;
                margin-top: 15px;
            }
            button {
                position: absolute;
                bottom: -23px;
                width: 180px;
            }
            &__image {
                position: absolute;
                top: -52px;
            }
        }
    }
}
.buttonbg {
    position: absolute;
    width: 206px;
    height: 100%;
    background-color: white;
    z-index: -1;
    top: 0px;
    left: -13px;
}
.imgbg {
    position: absolute;
    width: 122px;
    height: 102px;
    background-color: #fff;
    z-index: -1;
    top: 0;
    left: -10px;
}