.heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 48px;
    font-family: Roboto;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    &_orange {
        color: $main-color;
        font-family: Roboto;
        font-size: 16px;
    }
    &_divider {
        display: block;
        width: 148px;
        height: 1px;
        background-color: $main-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 101px;
    }
    &_descr {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: Roboto;
        font-weight: 300;
        font-size: 21px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 116px;
        line-height: 24px;
    }
}
